<div class="row justify-content-center">
  <div class="col-2 text-left transaction-form"><h3>Hi,
      {{user.username}}
      !
    </h3>
    <h4>
      <span>Balance:</span>
      <span>${{user.balance}}</span>
    </h4>
    <form class="transaction-form m-2">
      <input type="hidden" name="current-balance" value="{{user.balance}}" />
      <div class="row">
        <div class="mb-3">
          <label for="recipient" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            id="recipient"
            placeholder="Transfer to"
          />
        </div>
        <div class="mb-3">
          <label for="transfer-amount" class="form-label"></label>
          <input
            type="number"
            class="form-control"
            id="transfer-amount"
            placeholder="Amount"
          />
        </div>
        <div class="form-group mb-3">
          <button type="submit" class="btn btn-success w-100">Transfer</button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-8 text-center m-4"><div class="container">
    {{!-- <div class="container"> --}}
  {{!-- <div class="row w-25 m-4">
    <div class="col m-2" id="transaction-href">
      Transactions
    </div>
    <div class="col m-2" id="chart-href">
      Chart
    </div>
  </div> --}}
  <div class="row transaction-list m-4">
    <div class="col">
      You paid James Sung $100
    </div>
    <div class="col">
      on 10/16/22
    </div></div>
      <div class="row transaction-list m-4">
    <div class="col">
      You paid Andrew Hong $100
    </div>
    <div class="col">
      on 10/16/22
    </div></div>
      <div class="row transaction-list m-4">
    <div class="col">
      Bob paid you $100
    </div>
    <div class="col">
      on 10/16/22
    </div></div>
</div>

<script src="/js/transaction.js"></script>

{{! Old codes }}
{{!-- <div class="row justify-content-center">
  <div class="col-2 text-center"><h3>Hi,
      {{user.username}}
      !
    </h3>
    <h4>
      <span>Balance:</span>
      <span>${{user.balance}}</span>
    </h4>
    <form class="transaction-form m-2">
      <div class="row">
        <div class="mb-3">
          <label for="recipient" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            id="recipient"
            placeholder="Transfer to"
          />
        </div>
        <div class="mb-3">
          <label for="transfer-amount" class="form-label"></label>
          <input
            type="number"
            class="form-control"
            id="transfer-amount"
            placeholder="Amount"
          />
        </div>
        <div class="form-group mb-3">
          <button
            type="submit"
            class="btn btn-secondary w-100"
          >Transfer</button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-8 text-center"><p>href to charts</p><ul
      style="list-style: none;"
    ><li>transaction 1</li></ul></div>
</div>

<script src="/js/transaction.js"></script>
 --}}