<div class="container signup-form">
  <div class="row">
    <div class="col-7">
      <h1 class="display-2">
        When
        <!-- Green highlight effect -->
        <span class="highlight">banking</span>
        meets<br />
        <span class="highlight">minimalist</span>
      </h1>
    </div>
    <div class="col">
      <div class="col d-flex justify-content-center login-signup-form p-4">
        <form class="signup-form login-signup-form">
          <div class="row">
            <div class="col display-6">Welcome!
            </div>
            <div class="mb-3">
              <label for="username-signup" class="form-label"></label>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                id="username-signup"
              />
            </div>
            <div class="mb-3">
              <label for="password-signup" class="form-label"></label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                id="password-signup"
              />
            </div>
            <div class="form-group mb-3">
              <button type="submit" class="btn btn-success w-100">Sign up</button>
            </div>
            <div class="form-group">
              <a
                href="/login"
                class="text-decoration-none signup-login-href text-success"
              >Login instead</a>
            </div>
          </div>
        </form>
      </div></div>
  </div>
</div>

<script src="/js/signup.js"></script>

{{! <div class="container login-form">
  <div class="row">
    <div class="col-7">
      <h1 class="display-2">
        When
        <!-- Green highlight effect -->
        <span class="highlight">banking</span>
        meets<br />
        <span class="highlight">minimalist</span>
      </h1></div>
    <div class="col"><div
        class="col d-flex justify-content-center login-signup-form p-4"
      >
        <form class="login-form login-signup-form">
          <div class="row">
            <div class="col display-6">Welcome!
            </div>
            <div class="mb-3">
              <label for="username-login" class="form-label"></label>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                id="username-login"
              />
            </div>
            <div class="mb-3">
              <label for="password-login" class="form-label"></label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                id="password-login"
              />
            </div>
            <div class="form-group mb-3">
              <button type="submit" class="btn btn-success w-100">Sign in</button>
            </div>
            <div class="form-group">
              <a
                href="/signup"
                class="text-decoration-none signup-login-href text-success"
              >Sign up instead</a>
            </div>
          </div>
        </form>
      </div></div>
  </div>
</div>

<script src="/js/login.js"></script> }}

{{!-- <div class="row justify-content-center">
  <div class="col-2 text-left transaction-form"><h3>Hi,
      {{user.username}}
      !
    </h3>
    <h4>
      <span>Balance:</span>
      <span>${{user.balance}}</span>
    </h4>
    <form class="transaction-form m-2">
       <input type="hidden" name="current-user" value="{{user.username}}" />
      <input type="hidden" name="current-balance" value="{{user.balance}}" />
      <div class="row">
        <div class="mb-3">
          <label for="recipient" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            id="recipient"
            placeholder="Transfer to"
          />
        </div>
        <div class="mb-3">
          <label for="transfer-amount" class="form-label"></label>
          <input
            type="number"
            class="form-control"
            id="transfer-amount"
            placeholder="Amount"
          />
        </div>
        <div class="form-group mb-3">
          <button type="submit" class="btn btn-success w-100">Transfer</button>
        </div>
      </div>
    </form>
 
  </div>
  <div class="col-8 text-center m-4"><div class="container">
    {{#each user.Transactions }}
  <div class="row transaction-list m-4">
    <div class="col">
      {{#if debit}}
      You paid {{recipient}} ${{debit}}
      {{else}}
      You received from {{recipient}} ${{credit}}
      {{/if}}
    </div>
    <div class="col">
      on {{format_date transaction_date}}
    </div>
    </div>
    {{/each}}
</div>

<script src="/js/transaction.js"></script>

<div class="container">
  <div class="row">
    <div class="col"><form class="transaction-form m-2">
      <h3>Hi,
      {{user.username}}
      !
    </h3>
    <h4>
      <span>Balance:</span>
      <span>${{user.balance}}</span>
    </h4>
       <input type="hidden" name="current-user" value="{{user.username}}" />
      <input type="hidden" name="current-balance" value="{{user.balance}}" />
      <div class="row">
        <div class="mb-3">
          <label for="recipient" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            id="recipient"
            placeholder="Transfer to"
          />
        </div>
        <div class="mb-3">
          <label for="transfer-amount" class="form-label"></label>
          <input
            type="number"
            class="form-control"
            id="transfer-amount"
            placeholder="Amount"
          />
        </div>
        <div class="form-group mb-3">
          <button type="submit" class="btn btn-success w-100">Transfer</button>
        </div>
      </div>
    </form></div>
    <div class="col">  <div class="col-8 text-center m-4">
    {{#each user.Transactions}}
    <div class="m-4">
      {{#if debit}}
      <div id="debit-transaction">
      You paid {{recipient}} ${{debit}} on
      {{format_date transaction_date}}
      </div>
      {{else}}
      <div id="credit-transaction">
      {{recipient}} paid you ${{credit}} on
      {{format_date transaction_date}}
      </div>
      {{/if}}
    </div>
    {{/each}}
</div></div>
  </div>
</div> --}}